<div class="page-content">
    <div class="section">
        <div class="container cc-education">
          <div class="h4 text-center mb-4 title">Education</div>
          <div class="card" *ngFor="let item of data.education">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>{{item.dated1}} - {{item.dated1}}</p>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">{{item.title1}}</div>
                  <p>{{item.description1}}</p>
                </div>
              </div>
            </div>
          </div>
         
      </div>
</div>