<div>
<app-about-me-form></app-about-me-form>
<div><app-containerone></app-containerone>
</div>
</div>
<!--<div class="card" >-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Bio</h5>-->
<!--    <div class="form-outline">-->
<!--      <input type="number" [(ngModel)]="data.age" id="typeNumber" class="form-control" />-->
<!--      <label class="form-label" for="typeNumber">Age</label>-->
<!--    </div>-->
<!--    <div class="form-outline">-->
<!--      <input [(ngModel)]="data.email" type="email" id="typeEmail" class="form-control" />-->
<!--      <label class="form-label" for="typeEmail">Email</label>-->
<!--    </div>-->
<!--    <div class="form-outline">-->
<!--      <input  [(ngModel)]="data.phone" type="number" id="typeNumber" class="form-control" />-->
<!--      <label class="form-label" for="typeNumber">Phone Number</label>-->
<!--    </div>-->
<!--    <div class="form-outline">-->
<!--      <textarea [(ngModel)]="data.adress"  class="form-control" id="textAreaExample" rows="4"></textarea>-->
<!--      <label class="form-label" for="textAreaExample">Message</label>-->
<!--    </div>-->
<!--    <button class="btn btn-success">add</button>-->

<!--  </div>-->
<!--</div>-->
<!--<div class="card">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">skills</h5>-->
<!--      <div class="form-outline">-->
<!--        <input [(ngModel)]="data.skills.skill"  type="text" id="typeText" class="form-control" />-->
<!--        <label class="form-label" for="typeText">Skills</label>-->
<!--      </div>-->
<!--      <div class="form-outline">-->
<!--        <input [(ngModel)]="data.skills.level"  type="text" id="typeText" class="form-control" />-->
<!--        <label class="form-label" for="typeText">Your Level</label>-->
<!--      </div>-->
<!--      <button class="btn btn-success">add</button>-->

<!--    </div>-->
<!--  </div>-->

<!--  <div class="card" >-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Education</h5>-->
<!--      <div class="form-outline">-->
<!--        <input [(ngModel)]="data.education.where"  type="text" id="typeText" class="form-control" />-->
<!--        <label class="form-label" for="typeText">Where You Studied</label>-->
<!--      </div>-->
<!--    <div class="form-outline">-->
<!--        <label class="form-label" for="typeText">Start Date</label>-->
<!--      <input [(ngModel)]="data.education.dated"  type="date" id="typeText" class="form-control" />-->

<!--    </div>-->
<!--    <div class="form-outline">-->
<!--        <label class="form-label" for="typeText">End Date</label>-->
<!--      <input [(ngModel)]="data.education.datef"  type="date" id="typeText" class="form-control" />-->

<!--    </div>-->
<!--    <div class="form-outline">-->
<!--        <textarea [(ngModel)]="data.education.message"  class="form-control" id="textAreaExample" rows="4"></textarea>-->
<!--        <label class="form-label" for="textAreaExample">Message</label>-->
<!--      </div>-->
<!--      <button class="btn btn-success">add</button>-->

<!--    </div>-->
<!--  </div>-->




<!--  <div class="card">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Experience</h5>-->
<!--      <div class="form-outline">-->
<!--        <input [(ngModel)]="data.experience.where" type="text" id="typeText" class="form-control" />-->
<!--        <label class="form-label" for="typeText">Where You Worked</label>-->
<!--      </div>-->
<!--    <div class="form-outline">-->
<!--        <label class="form-label" for="typeText">Start Date</label>-->
<!--      <input [(ngModel)]="data.experience.dated" type="date" id="typeText" class="form-control" />-->

<!--    </div>-->
<!--    <div class="form-outline">-->
<!--        <label class="form-label" for="typeText">End Date</label>-->
<!--      <input [(ngModel)]="data.experience.datef" type="date" id="typeText" class="form-control" />-->

<!--    </div>-->
<!--    <div class="form-outline">-->
<!--        <textarea [(ngModel)]="data.experience.message" class="form-control" id="textAreaExample" rows="4"></textarea>-->
<!--        <label class="form-label" for="textAreaExample">Message</label>-->
<!--      </div>-->
<!--      <button class="btn btn-success">add</button>-->

<!--    </div>-->
<!--  </div>-->



<!--  <div class="card" >-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Portfolio</h5>-->
<!--      <div class="form-outline">-->
<!--        <input type="text" id="typeText" class="form-control" />-->
<!--        <label class="form-label" for="typeText">Where You Studied</label>-->
<!--      </div>-->
<!--      <div class="form-outline">-->
<!--        <input type="file" id="typeText" class="form-control" />-->
<!--      </div>-->
<!--    <div class="form-outline">-->
<!--        <label class="form-label" for="typeText">Start Date</label>-->
<!--      <input type="date" id="typeText" class="form-control" />-->

<!--    </div>-->
<!--    <div class="form-outline">-->
<!--        <label class="form-label" for="typeText">End Date</label>-->
<!--      <input type="date" id="typeText" class="form-control" />-->

<!--    </div>-->
<!--    <div class="form-outline">-->
<!--        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>-->
<!--        <label class="form-label" for="textAreaExample">Message</label>-->
<!--      </div>-->
<!--      <button class="btn btn-success">add</button>-->



<!--    </div>-->
<!--  </div>-->


<!--  <div class="card" >-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Contact Me</h5>-->
<!--      <div class="form-outline">-->
<!--        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>-->
<!--        <label class="form-label" for="textAreaExample">Message</label>-->
<!--      </div>-->
<!--      <button class="btn btn-success">add</button>-->

<!--    </div>-->
<!--  </div>-->

<!--<button class="btn btn-success" (click)="send()">submit</button>-->



