<header>
  <div class="cover bg-light">
    <div class="container px-3">
      <div class="row">
        <div class="col-lg-6 p-2"><img class="img-fluid" img [src]="data.picture" alt="hello"/></div>
        <div class="col-lg-6">
          <div class="mt-5">
            <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">{{data.fullname}}</h1>
            <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">{{data.role}}</p>
            <div class="social-nav" data-aos="fade-up" data-aos-delay="200">
              <nav role="navigation">
                <ul class="nav justify-content-left">
                 
                  <li class="nav-item"><a class="nav-link" [href]="data.link" title="LinkedIn"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-bg"></div>
</header>