<div class="page-content">
    <div class="profile-page">
        <div class="wrapper">
          <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('https://scontent.ftun8-1.fna.fbcdn.net/v/t1.6435-9/120752484_3696419707058072_2912036694375473463_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hWbVXpPn5vUAX_lD_Da&_nc_ht=scontent.ftun8-1.fna&oh=00_AfBPUOIehW_dJU5IzOMx2naGw0w3OiYAu69eeGMapK_bDg&oe=647DCD9E')"></div>
            <div class="container">
              <div class="content-center">
                <div class="cc-profile-image"><a href="#"><img src="https://scontent.ftun8-1.fna.fbcdn.net/v/t1.6435-9/120752484_3696419707058072_2912036694375473463_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hWbVXpPn5vUAX_lD_Da&_nc_ht=scontent.ftun8-1.fna&oh=00_AfBPUOIehW_dJU5IzOMx2naGw0w3OiYAu69eeGMapK_bDg&oe=647DCD9E" alt="Image"/></a></div>
                <div class="h2 title">Anthony Barnett</div>
                <p class="category text-white">Web Developer, Graphic Designer,  Photographer</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
              </div>
            </div>
            <div class="section">
              <div class="container">
                <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
              </div>
            </div>
          </div>
        </div>
   </div>