<div class="page-content">
    <div class="section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div style="text-align: center;padding-left: 600px;" class="h4 text-center mb-4 title">Portfolio</div>
              <div class="nav-align-center">
               
              </div>
            </div>
          </div>
          <div class="tab-content gallery mt-5">
            <div class="tab-pane active" id="web-development">
              <div class="ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-6" *ngFor="let item of data.portfolio">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                        <figure class="cc-effect"><img [src]="item.image" alt="Image" width="400px"  height="400px"/>
                          <figcaption>
                            <h1>{{item.title}}</h1>
                            <p>{{item.description}}</p>
                          </figcaption>
                        </figure></a></div>
                    
                  </div>
                  
            
      </div>
</div>