<form [formGroup]="form" (ngSubmit)="signup()">
  <section style="background-color: #9A616D; height: 102vh;">
    <div class="container py-5 h-100" style="margin-top: -1%;">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  

                    
                    <div class="d-flex justify-content-center align-items-center pb-1">
                      <span class="h1 fw-bold mb-3">Cv Maker</span>
                    </div>
  
                    <h5 class="fw-normal mb-0 pb-3 d-flex justify-content-center" style="letter-spacing: 1px;">Create a New account</h5>
                    <div class="d-flex justify-content-around">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example27">Email</label>
                          <input type="email" id="comfirm_password" class="form-control form-control-lg" formControlName="email"  />
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example27">Phone</label>
                          <input type="text" id="comfirm_password" class="form-control form-control-lg" formControlName="phone"  />
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example17">First Name</label>
                              <input type="text" id="First_name" class="form-control form-control-lg"formControlName="firstName"  />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example17">Password</label>
                              <input type="password" id="password" class="form-control form-control-lg"formControlName="password"  />
                            </div>
                        </div>
                        <div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example27">Last Name</label>
                              <input type="text" id="last_name" class="form-control form-control-lg" formControlName="lastName" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example27">Comfirm Password</label>
                              <input type="password" id="comfirm_password" class="form-control form-control-lg" formControlName="confirmPassword" />
                            </div>
                        </div>
                    </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                    </div>
                    <p class="mb-5 pb-lg-2">have an account? <a routerLink="/login"
                        style="color: #9A616D; font-style: bold; text-decoration: none;">Login here</a></p>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>